asgiref
beautifulsoup4
bootstrap4
bs4
cffi
chardet
cryptography
defusedxml
dj-database-url
django-allauth
django-cors-headers
django-extra-views
django-filter
django-heroku
django-utils-six
futures
goslate
idna
joblib
nltk
oauthlib
pillow
pycparser
pydictionary
pyjwt
pymysql
python-social-auth
python3-openid
regex
requests-oauthlib
six
social-auth-core
soupsieve
textblob
tqdm
urllib3
whitenoise
djangorestframework
djangorestframework-filters